<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="container-fluid">
    <h2>Welcome, {{session.username}}</h2>
    <div class="row pt-0">
        <div class="col-auto">
            {% for follow in follows %}
                <div class="flexRowAlignCenter mt-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" class="rounded-circle" alt="Author Image" style="width: 50px; height: 50px;">
                    <h6 class="card-header flexRowAlignCenter">{{follow.followed.username}}
                        {%if follow.followed.online == 0 %}
                        <div id="{{follow.followed_id}}-status-dot" style="border-radius: 50%; width: 10px; height: 10px; display: flex; background-color: gray; border-width: 1px; border-color: rgb(95, 95, 95); border-style: solid;"/>
                        {% elif follow.followed.online == 1%} 
                        <div id="{{follow.followed_id}}-status-dot" style="border-radius: 50%; width: 10px; height: 10px; display: flex; background-color: rgb(0, 255, 0); border-width: 1px; border-color: rgb(95, 95, 95); border-style: solid;"/>
                        {%endif%}
                    </h6>
                </div>
                
            {% endfor %}
        </div>
        <div class="col">
            <div class="container">
                {% if session %}
                    <div class="container mt-5 mb-5">
                        <form class="input-group" method="POST" action="/data/post">
                            <div class="form-floating">
                                <input type="text" name="content" class="form-control" placeholder="Type something to share with friends"/>
                                <label for="content">Type something to share</label>
                            </div>
                            
                            <input type="submit" class="btn btn-primary" value="Make Post"/>
                        </form>
                    </div>
                {% endif %}

                {% for post in posts %}
                    <div class="container mt-5 mb-5">
                        <div class="card">
                            <div class="card-header">
                                <div class="flexRowAlignCenter gx-1">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" class="rounded-circle" alt="Author Image" style="width: 50px; height: 50px;">
                                    <h5>{{post.user.username}}</h5>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <p>{{post.content}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    const socket = io('/status');

    socket.on('status', function(data){
        if(data.online == 1)
            document.getElementById(`${data.id}-status-dot`).style.backgroundColor = 'rgb(0, 255, 0)';
        else
            document.getElementById(`${data.id}-status-dot`).style.backgroundColor = 'gray';
    })
    
    socket.on('disconnect', function(data){
        if(data.online == 1)
            document.getElementById(`${data.id}-status-dot`).style.backgroundColor = 'rgb(0, 255, 0)';
        else
            document.getElementById(`${data.id}-status-dot`).style.backgroundColor = 'gray';
    })

</script>
